<mat-card>
  <mat-card-header>
    <mat-card-title class="title">Todo List</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table width="100%" height="60%">
      <thead>
        <th></th>
        <th width="25%">Task</th>
        <th>Description</th>
        <th width="15%">Time</th>
        <th width="15%" style="text-align: right; padding-right: 1.5rem">
          Actions
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let todo of todos">
          <td>
            <i
              class="fa fa-check-square"
              aria-hidden="true"
              *ngIf="todo.isScheduled"
              (click)="schedule(todo.id)"
            ></i>
            <i
              class="fa fa-square-o"
              aria-hidden="true"
              *ngIf="!todo.isScheduled"
              (click)="schedule(todo.id)"
            ></i>
          </td>
          <td>
            <span class="task">{{ todo.task }}</span>
          </td>
          <td>{{ todo.description }}</td>
          <td>{{ todo.time | time }}</td>
          <td>
            <div class="actions">
              <button mat-icon-button color="primary" (click)="editTodo(todo)">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </button>
              <button
                mat-icon-button
                color="accent"
                (click)="deleteTodo(todo.id)"
              >
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="card-footer">
      <button
        mat-raised-button
        color="primary"
        (click)="addTodo()"
        *ngIf="filterOpton.today === active"
      >
        <i class="fa fa-plus" aria-hidden="true"></i> Add Task
      </button>
    </div>
  </mat-card-content>
</mat-card>
