@use "../../scss/mixins" as *;
@use "../../scss/variables" as *;

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  color: $text-secondary;
}

table {
  width: 100%;
  max-height: 60vh;
  overflow: hidden;
  overflow-y: auto;
  border-collapse: collapse;

  thead {
    text-align: left;
    th {
      background-color: $light-grey;
      padding: 1rem 0.5rem;
      color: $text-dark;
      font-weight: bolder;
      font-size: 1.5rem;
    }
  }

  tbody {
    tr {
      td {
        border-bottom: 1px solid $text-light;
        color: $text-dark;
        font-weight: normal;
        font-size: 1.4rem;
        .task {
          color: #000;
          font-weight: bold;
        }
        .actions {
          @include align(flex, flex-end, center, row);
        }
      }
    }
  }
}

.card-footer {
  padding-top: 4rem;
  @include align(flex, flex-end, center, row);
}
