$white: #fff;
$text-light: #c7c8cf;
$text-dark: #474646;
$black: #101010;
$text-danger: #ff4548;
$text-secondary: #525db7;
$text-secondary-light: #6a75c5ab;
// background colors
$light-grey: #f0f2ff;
$dark-grey: #bbc4ff;
