@use "./scss/mixins" as *;
@use "./scss/variables" as *;

header {
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
  .left {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
    color: $text-secondary;

    &_menu {
      width: 4rem;
      height: 4rem;
    }

    &_title {
      font-size: 1.8rem;
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 1rem;

    .fa {
      color: $text-secondary;
    }
    &_profile {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
    }
  }
}

.container {
  height: 80%;
  display: flex;
  gap: 2rem;

  .sidebar {
    @include card($white, 8px, 20%, 80vh);

    @include respond(phone) {
      width: 100vw !important;
    }

    @include align(flex, flex-start, center, column);
    gap: 1rem;

    .title {
      font-size: 1.8rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: $text-secondary;
    }

    .mat-mdc-button {
      background-color: $light-grey;
      width: 100%;
      padding: 1rem 0.1rem;
      .button {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;
        width: 16rem;
        @include respond(small-screen) {
          gap: 1rem;
        }
        .label {
          width: 80%;
          text-align: left;
          @include respond(small-screen) {
            gap: 60%;
          }
        }
      }
      &:hover {
        background-color: $dark-grey;
        color: $text-secondary;
      }
    }

    button.active {
      background-color: $dark-grey !important;
      color: $text-secondary !important;
    }

    // mobile responsive
    @include respond(tab) {
      width: 100%;
    }
  }

  .content {
    width: 80%;
    @include respond(tab) {
      width: 100%;
    }
  }

  .date {
    position: relative;

    .current-date {
      position: absolute;
      font-size: 1rem;
      right: 5px;
      top: 5px;
      z-index: 1;
    }
  }
}
