@use "./scss/mixins" as *;
@use "./scss/variables" as *;

header {
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
  .left {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
    &_menu {
      width: 4rem;
      height: 4rem;
    }
    &_title {
      font-size: 1.8rem;
      color: $text-secondary;
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 1rem;

    .fa {
      color: $text-secondary;
    }
    &_profile {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
    }
  }
}

.container {
  height: 80%;
  display: flex;
  gap: 2rem;

  .side-nav {
    width: 20%;
    height: 80vh;
    .title {
      font-size: 1.8rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: $text-secondary;
    }

    .buttons {
      @include align(flex, flex-start, center, column);
      gap: 1rem;

      .mat-mdc-button {
        background-color: $light-grey;
        width: 100%;
        padding: 1rem 0.1rem;
        .button {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 2rem;
          width: 16rem;
          .label {
            width: 80%;
            text-align: left;
          }
        }
        &:hover {
          background-color: $dark-grey;
          color: $text-secondary;
        }
      }

      .active {
        background-color: $dark-grey !important;
        color: $text-secondary !important;
      }
    }
  }

  .content {
    width: 80%;
  }
}
