<div class="container">
  <div class="dialog-header">
    <h4 class="title">Add Task</h4>

    <span class="close">
      <i class="fa fa-times" aria-hidden="true"></i>
    </span>
  </div>
  <div class="form-group">
    <input type="text" placeholder="Task" />
  </div>
  <div class="form-group">
    <textarea
      type="text"
      placeholder="Description"
      class="text-area"
    ></textarea>
  </div>

  <div class="groups">
    <input type="time" placeholder="Time" class="time-input" />

    <div class="group-checks">
      High Priority
      <input type="checkbox" class="checkbox" />
    </div>
  </div>

  <button mat-raised-button color="primary">Add Task</button>
</div>
